.container{
    display: flex;
    flex-direction: column;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 10px;
    border-radius: 8px;
    background-color: aquamarine;
}

textarea{
    margin-top: 10px;
    border: 1px solid;
    resize: none;
}