*{
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
    margin: auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.mySlides{
    display: none;
}

img{
    height: 500px;
    width: 100%;
}

button {
    height: 500px;
    width: 40px;
    background: none;
    user-select: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }